@media (max-width: 768px) {
    #title h1 {
      font-size: 2.4em;
      padding-top: 150px;
    }
    #title h2 {
      font-size: 1.5em;
    }
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    nav ul li {
      margin-bottom: 10px;
    }
  }
  