/* Splash section styling */
#splash {
    position: relative;
    background-color: #FFFFFF;
    height: 800px;
    background: url(/Users/lukestanton/Downloads/FramesDonut/0159.png) no-repeat center top fixed;
    background-size: cover;
    text-align: center;
    overflow: hidden;
  }
  
  /* Title styling */
  #title {
    width: 100%;
    padding-top: 250px;
    color: #000000;
    text-align: center;
    font-family: 'Bebas Neue', arial, sans-serif;
    letter-spacing: 10px;
  }
  
  #title h1 {
    font-size: 4.4em;
  }
  
  #title h2 {
    font-size: 2em;
    font-style: italic;
    text-shadow: 3px 3px #000000;
    text-align: center;
    border-bottom: none;
  }
  
  /* Main Styles */
  body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Oswald', arial, sans-serif;
    letter-spacing: 2.2px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  h2 {
    font-size: 2.2em;
    text-align: left;
    border-bottom: 2px solid #FCCB05;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', arial, sans-serif;
    letter-spacing: 7px;
  }
  
  h3 {
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: bold;
    font-family: 'Bebas Neue', arial, sans-serif;
    letter-spacing: 5px;
  }
  
  ul, ol {
    padding-left: 20px;
  }
  
  ul li, ol li {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 10px;
  }
  