/* Container Styles */

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.grid-item {
    background-color: #2c3e50;
    padding: 20px;
    font-size: .8em;
    text-align: left;
    border: 1px solid #333;
    border-radius: 4px;
}


/* Section Styles */

#splash {
    background-color:#FFFFFF;
    height: 800px;
    background: url(downloads/Video0001-0250.mp4) no-repeat center top fixed;
    background-size: cover;
    text-align: center;
}

#introduction {
     background-color:#28344b;
     padding: 50px 0;
}

#introduction img.right {
    float: right;
    max-width: 35%;
    margin: 20px;
}

#introduction blockquote {
    margin: 20px 0; 
    padding: 20px;
    background-color: #2b3a52;
    border-left: 5px solid #FCCB05; 
    color: #ffffff;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.8;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
}

#filmography {
     background-color:#647487; 
     padding: 50px 0;
}

#impact {
     background-color:#9C8E7E;
     padding: 50px 0;
}

#impact img.right {
    float: right;
    max-width: 35%;
    margin: 20px;
}

#footer {
    background-color:#1A2232;
    font-size: 1.2em;
    text-align: center;
    padding: 50px;
}


/* Navigation Styles */

nav {
    background-color: rgba(10, 14, 21, 0.95);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    overflow: hidden;
    border-bottom: 1px solid #FCCB05;
}	
 
ul#menu {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 75px;
} 

ul#menu li {
    list-style: none;
    display: inline;
    padding: 0 15px;
} 

ul#menu li a.button {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight:600;
    text-decoration: none;
    padding: 0 30px;
    display: inline-block;
    line-height: 75px;
    height: 100%;
    box-sizing: border-box;
}
 
ul#menu li a.button:hover {
    color: #1A2232;
    background-color: #FCCB05;
} 


/* Title Styles */

#title {
    width: 100%;
    padding-top: 250px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Bebas Neue', arial, sans-serif;
    letter-spacing: 10px;
}

#title h1 {
    font-size: 4.4em;
    text-shadow: 5px 5px #000000;
}

#title h2 {
    font-size: 2em;
    font-style: italic;
    text-shadow: 3px 3px #000000;
    text-align: center;
    border-bottom: none;
}


/* Main Styles */

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Oswald', arial, sans-serif; 
    letter-spacing: 2.2px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 15px;
    color: #ffffff;
}

h2 {
    font-size: 2.2em;
    text-align: left;
    border-bottom: 2px solid #FCCB05;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', arial, sans-serif;
    letter-spacing: 7px;
}

h3 {
   font-size: 1.5em;
   padding: 10px 0;
   font-weight:bold;
   font-family: 'Bebas Neue', arial, sans-serif;
   letter-spacing: 5px;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 10px;
}


/* Table styles */

table {
    border: solid #7094DB 1px;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

td {
    padding: 15px;
    border: solid #7094DB 1px;
    margin: 0;
}

th {
    font-weight: bold;
    color: #FCCB05;
    background-color: #28344b;
    text-align: center;
    padding: 15px;
    margin: 0; 
}


/* Link Styles */

a:link, a:visited {
    color: #FCCB05;
    text-decoration: none;
}

a:hover {
    color: #8CC0A7;
}